/**
 * Add any custom CSS here.
 *
 * This file will be loaded after all theme stylesheets.
 */

.site-title,
.site-header .g-top-bar,
.site-header .g-top-bar input,
.woocommerce-breadcrumb,
.hentry .entry-header .posted-on a,
.hentry .entry-header .byline a,
.hentry .entry-meta a,
.storefront-sorting,
.single-product div.product .product_meta a,
.single-product .woocommerce-tabs ul.tabs li a,
.main-navigation ul.nav-menu li a,
.main-navigation ul.nav-menu ul.sub-menu a,
.sfb-footer-bar,
.section-title {
	font-family:"bryant-web",sans-serif;
}

h2.section-title,
.secondary-navigation ul.menu a {
	text-transform: uppercase;
	letter-spacing: normal;
	font-weight: normal !important;
}

h1,h1 a,
h2,h2 a,
h3,h3 a,
h4,h4 a,
h5,h5 a,
h6,h6 a,
.hentry .entry-meta a,
.hentry .entry-header .posted-on a, .hentry .entry-header .byline a {
	font-weight: normal;
}

body.woocommerce #primary { width: 100%; }
.shipping_method {width:100%;}

ul.products li.product .wc-new-badge {
	position: absolute;
    top: 1em;
    left: 1em;
}


/* Navigation Menu */

.main-navigation ul li a:hover {
color: #d55028;
}
.secondary-navigation ul.menu a {
font-weight:bold !important;
color: #555;
border: solid 1px transparent;
}
.secondary-navigation ul.menu a:hover {
	color:#000;
border: solid 1px #000;
}


.site-info {
	clear:both;
}

/* Related Posts Widget */


.rpwwt-post-date {
	font-style: italic;
}
.rpwwt-post-title {
    clear: left;
    display: block;
}

.blog section.footer-widgets {
	display: none !important;
}

/* Shop Page Hero */

.page-shop .overlay.animated h1 {
		/*font-size: 1.8em;*/
}
.page-shop .overlay.animated h1:after {
	font-style: italic;
	font-weight: normal;
    font-family: "Libre Baskerville", "Georgia", serif;
    letter-spacing: 1px;
    color:white;
    text-shadow: 1px 1px 1px #000;
}
.page-shop .sph-inner { padding-left: 4em !important; padding-right: 4em !important;}
.page-shop .sph-hero .overlay { padding: 4em; }
.page-shop .sph-hero {background-position: 50% 10%;}
.page-shop .sph-hero em {color:white;}

/* We don't need no stinking shipping calculator */

.woocommerce-shipping-calculator { display:none; }

/* Responsive */

@media screen and (min-width: 768px) {
	.woocommerce-active .site-header .g-top-bar * {
	    font-size: 1.05em;
	}
	.site-main ul.products li.product {
		padding-bottom: 6.8em;
	}

	ul.products li.product .wc-new-badge {
	    top: -30px;
	    left: 10px;
	}

	.site-main ul.products li.product .g-product-title {
		opacity: .8;
	}	
	.rpwwt-widget ul li {
	    overflow: hidden;
	    margin: 0 0 1.5em;
	    padding-right: 1em;
	    width: 32%;
	    float: left;
	    border: 0;
	}

}
.outofstock {
	opacity: .5;
}
.out-of-stock {
	display: inline-block;
	padding: 0.3em 1em;
	border: solid 2px;
}

@media screen and (min-width: 570px) {
	.woocommerce-active .site-header .g-top-bar * {
	    font-size: 1.05em;
	}
	.site-main ul.products li.product {
		padding-bottom: 6.8em;
	}

	ul.products li.product .wc-new-badge {
	    top: -30px;
	    left: 10px;
	}

	.site-main ul.products li.product .g-product-title {
		opacity: .8;
	}	

	.rpwwt-widget ul li {
    overflow: hidden;
    margin: 0 0 1.5em;
    width: 33%;
    float: left;
    border: 0;
}
.rpwwt-post-title {
    clear: left;
    display: block;
}
}
